body {
  padding-top: 56px;
  background-image: url("/static/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.bg-nav {
  background-color: #f78836;
  box-shadow: 0px 3px 5px -1px #888888;
}

.brand-shadow {
  text-shadow: 2px 2px 20px black;
  font-weight: bolder;
  
}

.nav-shadow {
  text-shadow: 2px 5px 20px black;
  
}

.header-shadow {
  text-shadow: 2px 2px 2px black;
}


.bg-footer {
  background-color: #d75008;
}

.slider {
  -webkit-appearance: none;
 /*width: 60%;
  height: 36px;
  margin-left: 5px;
  margin-right: 5px;*/
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
