{% extends 'base.html' %} 
{% block content %}
<div class="row mt-4">
     <div class="col-lg-8 mx-auto"> 
        <h3 class="text-center text-white header-shadow">DELETE RECIPE</h3>
        <form action="{{ url_for('remove_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Required Tools</div>
                    </div>
                    <select id="required_tools" name="required_tools" class="form-control" disabled>
                            
                        <option readonly value="" disabled>Choose Cooking Tool</option>
                        {% for cat in tool %}
                            {% if cat.required_tool_name == recipe.required_tools %}
                                <option value="{{cat.required_tool_name}}" selected>{{cat.required_tool_name}}</option>
                            {% else %}
                                <option value="{{cat.required_tool_name}}">{{cat.required_tool_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                
                </div>
            </div>              
            <div class="row">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Cuisine Name</div>
                    </div>
                    <select id="cuisine" name="cuisine_name" class="form-control" disabled>
                            
                        <option value="" disabled readonly>Choose Cuisine</option>
                        {% for cat in cuisines %}
                        
                            {% if cat.cuisine_name == recipe.cuisine_name %}
                                <option value="{{cat.cuisine_name}}" selected>{{cat.cuisine_name}}</option>
                            {% else %}
                                <option value="{{cat.cuisine_name}}">{{cat.cuisine_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                
                </div>
            </div>
        
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Recipe Name</div>
                </div>
                <input id="recipe_name" name="recipe_name" type="text" class="form-control" readonly value="{{recipe.recipe_name}}">
                
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Preparation time</div>
                </div>

                <input id="timebox1" name="preparation_time" type="text" class="form-control" readonly value="{{recipe.preparation_time}}">
                 
                </div>

            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Cooking time</div>
                </div>
                
                <input id="timebox2" name="cooking_time" type="text" class="form-control" readonly value="{{recipe.cooking_time}}">
                 
                </div>
            </div>
           
            
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Alias Name</div>
                </div>
                <input id="alias_name" name="alias" type="text" class="form-control" readonly value="{{recipe.alias}}">
                
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Date</div>
                </div>
                <input id="date_stamp" name="date_stamp" type="text" class="form-control" readonly value="{{recipe.date_stamp}}">
                
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Ingredients</div>
                </div>
                <textarea class="form-control" name="ingredients" id="ingredients" rows="3" readonly>{{recipe.ingredients}}</textarea>
                
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Preparation Steps</div>
                </div>
                <textarea class="form-control" name="preparation_steps" id="preparation_steps" rows="3" readonly>{{recipe.preparation_steps}}</textarea>
                
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Uploaded image</div>
                    </div>
                    <input id="image_name" name="image_name" type="text" value="{{recipe.image_name}}" class="form-control" readonly
                        required>

                </div>
            </div>

            <div class="row">
                <div class="input-group mb-2">
                
                <button type="submit" class="btn btn-primary">Delete Recipe</button>
        
                
                </div>
            </div>
            
            
            
        </form>
     </div> 
</div>

{% endblock %}