{% extends 'base.html' %} 
{% block content %}

<div class="row mt-4">
     <div class="col-lg-8 mx-auto"> 
        <h3 class="text-center">EDIT RECIPE</h3>
        <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Required Tools</div>
                    </div>
                    <select id="required_tools" name="required_tools" class="form-control">
                            
                        <option value="" disabled>Choose Cooking Tool</option>
                        {% for cat in tool %}
                            {% if cat.required_tool_name == recipe.required_tool_name %}
                                <option value="{{cat.required_tool_name}}" selected>{{cat.required_tool_name}}</option>
                            {% else %}
                                <option value="{{cat.required_tool_name}}">{{cat.required_tool_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                
                </div>
            </div>              
            <div class="row">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Cuisine Name</div>
                    </div>
                    <select id="cuisine" name="cuisine_name" class="form-control">
                            
                        <option value="" disabled>Choose Cuisine</option>
                        {% for cat in cuisines %}
                        
                            {% if cat.cuisine_name == recipe.cuisine_name %}
                                <option value="{{cat.cuisine_name}}" selected>{{cat.cuisine_name}}</option>
                            {% else %}
                                <option value="{{cat.cuisine_name}}">{{cat.cuisine_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                
                </div>
            </div>
        
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Recipe Name</div>
                </div>
                <input id="recipe_name" name="recipe_name" type="text" class="form-control" value={{recipe.recipe_name}}>
                
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Preparation time</div>
                </div>

                <input id="timebox1" name="preparation_time" type="text" class="form-control" value="{{recipe.preparation_time}}">
                 
                </div>

            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Cooking time</div>
                </div>
                
                <input id="timebox2" name="cooking_time" type="text" class="form-control" value="{{recipe.cooking_time}}">
                 
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Full Name</div>
                </div>
                <input id="author_name" name="author" type="text" class="form-control" value="{{recipe.author}}">
                
                </div>
            </div>
            
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Alias Name</div>
                </div>
                <input id="alias_name" name="alias" type="text" class="form-control" value="{{recipe.alias}}">
                
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Date</div>
                </div>
                <input id="date_stamp" name="date_stamp" type="text" class="form-control" readonly value="{{recipe.date_stamp}}">
                
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Ingridents</div>
                </div>
                <textarea class="form-control" name="ingridents" id="ingridents" rows="3" >{{recipe.ingridents}}</textarea>
                
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">Preparation Steps</div>
                </div>
                <textarea class="form-control" name="preparation_steps" id="preparation_steps" rows="3" >{{recipe.preparation_steps}}</textarea>
                
                </div>
            </div>

            <div class="row">
                <div class="input-group mb-2">
                
                <button type="submit" class="btn btn-primary">Update Recipe</button>
        
                
                </div>
            </div>
            
            
            
        </form>
     </div> 
</div>

{% endblock %}